<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Главная
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/resources/working">
        <!-- Обновленная ссылка -->
        <span class="bi bi-box-seam" aria-hidden="true"></span> Справочники
        <ul class="nav flex-column ms-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="/resources/working">
                    <!-- Обновленная ссылка -->
                    Ресурсы
                </NavLink>
            </li>
            <!-- Добавьте другие справочники здесь, если нужно -->
        </ul>
    </NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}