<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Управление складом</a>
    </div>
</div>

<div>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <h4 style="color:white">Склад</h4>
            @* <a href="/balances" class="nav-link active" aria-current="page">Баланс</a>> *@
            <a href="/receipts" class="nav-link">Поступления</a>
            @* <a href="/shipments" class="nav-link">Отгрузки</a> *@
        </div>
        <div class="nav-item px-3">
            <h4 style="color:white" >Справочники</h4>
            @* <a href="/clients/1" class="nav-link">Клиенты</a> *@
            <a href="/units/working" class="nav-link">Единицы измерения</a>
            <a href="/resources/working" class="nav-link">Ресурсы</a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}